<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vchecker.obd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.vchecker.obd.BluetoothConnectActivityReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
            </intent-filter>
        </receiver>

        <!--
        <activity
            android:name="com.vchecker.obd.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!-- 启动窗口 -->
        <activity
            android:name="com.vchecker.obd.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.vchecker.obd.MainPager"
            android:label="@string/title_activity_main_pager"
            android:screenOrientation="landscape" >
        </activity>
        <!-- 设置窗口 -->
        <activity
            android:name="com.vchecker.obd.PreferenceSetup"
            android:label="@string/title_activity_main_pager"
            android:screenOrientation="landscape" >
        </activity>
        <!-- 蓝牙设置窗口 -->
        <activity
            android:name="com.vchecker.obd.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.vchecker.obd.Bluetooth.DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
    </application>

</manifest>
